{% extends "player_info/base.html" %}
{% block top %}<h1>
    <center>학생 정보 삭제
</h1>
<hr>
</center>{% endblock %}
{% block content %}
<div class="container" style="width: 800px;">
    <table class="table table-striped">
        <tr>
            <td>소속</td>
            <td>{{delete_data.schoolname}}</td>
        </tr>
        <tr>
            <td>이름</td>
            <td>{{delete_data.playername}}</td>
        </tr>
        <tr>
            <form action="{% url 'pitch:delete' delete_data.id %}" class="mt-3" method="POST">
                {%csrf_token%}
                <td colspan="2" style="color: red;">정말로 삭제하시겠습니까?
                    <button type="submit" class="btn btn-danger">확인</button>
            </form>
            </td>
        </tr>
        <tr>
            <form action="{% url 'pitch:detail' delete_data.id %}" class="mt-3">
                <td colspan="2">
                    <button type="submit" class="btn btn-primary">아니요</button>
                </td>
            </form>
        </tr>

    </table>
</div>
{% endblock %}